<h2> Title: {{detail.title}}</h2><br>
<h3> Description: {{detail.description}}</h3><br>
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{detail.title}}&zoom=13&size=600x300&maptype=roadmap
&key=AIzaSyDoZgbUWkKXLVRCK5kFfljvj4fuB7uzPN0"></img></br>
<h3> URL: <a href="{{detail.url}}">{{detail.url}}</a></h3><br>
<h3> Posted By: {{detail.userID}}</h3><br>