<h2> Dream Destination: {{detail.title}}</h2><br>
<h3> Hotel Money Needed: {{detail.hotelMoney}}</h3><br>
<h3> Food Money Needed: {{detail.foodMoney}}</h3></br>
<h3> Attraction Money Needed: {{detail.attractionMoney}}</h3></br></br>
<h3> Posted By: {{detail.userID}}</h3><br>
