<h2> Destination to Pack For: {{detail.title}}</h2><br>
<h3> Amount of Shirts to Take: {{detail.amountShirts}}</h3><br>
<h3> Amount of Pants to Take: {{detail.amountPants}}</h3></br>
<h3> Amount of Socks to Take: {{detail.amountSocks}}</h3></br>
<h3> Amount of Underwear to Take: {{detail.amountUnderwear}}</h3></br>
<h3> Posted By: {{detail.userID}}</h3><br>
